
h1, h2, h3, h4, h5 {
  font-family: "Fredoka", sans-serif;
}

.bg-soft-yellow {
  background-color: #ffffff;
}


.navbar {
  padding: 12px 0;
}


.tracker-tabs .nav-link {
  background: #d8c7da;
  color: #34592e;
  border-radius: 20px;
  padding: 6px 14px;
}

.tracker-tabs .nav-link.active {
  background: #6d9f7a;
  color: #fff;
}


.tracker-card {
  background: #ffffff;
  border: 1px solid #cdf2ac;
  border-radius: 16px;
  padding: 16px;
}

.tracker-avatar {
  width: 48px;
  height: 48px;
  background: #a8dc6e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}


.tracker-progress .progress-bar {
  background-color: #6d9f7a;
}


.tracker-pill-card {
  background: #f6f7d7;
  border-radius: 12px;
  padding: 10px;
}

.tracker-pill-green {
  background: #cdf2ac;
}

.tracker-pill-lilac {
  background: #d8c7da;
}

.tracker-pill-icon {
  width: 36px;
  height: 36px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.tracker-tip-card {
  background: #f6f7d7;
  border-radius: 12px;
  padding: 12px;
}

.tracker-tip-icon {
  width: 36px;
  height: 36px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.email-card {
  background: #ffffff;
  border: 1px solid #d8c7da;
  border-radius: 16px;
  padding: 16px;
}

.btn-subscribe {
  background: #6d9f7a;
  color: white;
  padding: 6px 14px;
}


.week-card {
  background: #ffffff;
  border: 1px solid #cdf2ac;
  border-radius: 14px;
  padding: 14px;
}

.week-icon {
  width: 40px;
  height: 40px;
  background: #cdf2ac;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.week-tasks-box {
  background: #f6f7d7;
  padding: 10px;
  border-radius: 10px;
}


.photo-card-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}


footer {
  margin-top: 40px;
}
